<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>green.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{80,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{80,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{80,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>red.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{80,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{80,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gem.png</string>
            <key>size</key>
            <string>{248,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:132a6c21b97ccd56594e027256970dfa:961ff37ac48e4cfe3c2fc7b352e480f3:bf57b7c9af7dc49be4ebba886a4aaa28$</string>
            <key>textureFileName</key>
            <string>gem.png</string>
        </dict>
    </dict>
</plist>
